@model IEnumerable<kioscov1.Models.Entities.Producto>
@{
    ViewData["Title"] = "Control de Stock";
}
<div class="container my-4">
    <h2 class="mb-4">
        <i class="bi bi-clipboard-check me-2"></i>@ViewData["Title"]
    </h2>
    <div class="row mb-4">
        <label for="filtroTabla" class="col-sm-2 col-form-label">Buscar Producto:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="filtroTabla" placeholder="Ej: Gaseosa o Chocolate" />
        </div>
    </div>
    <button id="scrollToBottom" class="btn btn-primary rounded-circle shadow"
            style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; width: 50px; height: 50px;">
        <i class="bi bi-arrow-down"></i>
    </button>
    <div class="table-responsive">
        <table class="table table-hover table-bordered shadow-sm" id="tableStock">
            <thead class="table-dark text-center">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr data-id="@p.Id">
                        <td>@p.CodigoBarra</td>
                        <td>@p.Nombre</td>
                        <td class="text-center">
                            <input type="number"
                                   class="form-control text-center stock-input"
                                   value="@p.Stock"
                                   data-original="@p.Stock"
                                   style="appearance: textfield; max-width: 100px; margin: auto;" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex gap-3 mt-4">
        <button class="btn btn-success px-4" id="btnGuardarStock">
            <i class="bi bi-save"></i> Guardar cambios
        </button>

        <button class="btn btn-outline-danger px-4" id="cancelar">
            <i class="bi bi-x-circle"></i> Cancelar
        </button>
    </div>
</div>
@section Scripts {
    <script>
        $("#btnGuardarStock").on("click", function () {
            $("#spinner").show();
            $("#btnGuardarStock").prop("disabled", true);
            let productosActualizados = [];
            $("#tableStock tbody tr").each(function(){
                const id = $(this).data("id");
                const input = $(this).find(".stock-input");
                const stockNvo = parseInt(input.val());
                const stockOrig = parseInt(input.data("original"));

                if(stockNvo !== stockOrig){
                    productosActualizados.push({
                        Id: id,
                        Stock: stockNvo
                    });
                }
            });
  
            console.log(productosActualizados);
            $.ajax({
                url:'/Productos/ActualizarStock',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(productosActualizados),
                success: function(){
                    alert("Productos actualizados correctamente.");
                    window.location.href = '/Productos/Index';
                },
                error: function(){
                    alert("Error al guardar el stock.");
                },
                complete: function() {
                    $("#btnGuardarStock").prop("disabled", false);
                }
            });
        });

        $("#cancelar").on("click", function(){
            $(".stock-input").each(function () {
                    const original = $(this).data("original");
                    $(this).val(original);
                });
                $("#btnGuardarStock").prop("disabled", false);
                window.location.href = "/Productos/Index";
         });

         $("#filtroTabla").on("keyup", function() {
             const text= $(this).val().toLowerCase();
             $("#tableStock tbody tr").filter(function () {
                 $(this).toggle($(this).text().toLowerCase().indexOf(text) > -1);
             });
         });

         $("#scrollToBottom").on("click", function () {
            window.scrollTo({ top: document.body.scrollHeight, behavior: "smooth" });
        });
    </script>
}



