@model Paginacion<kioscov1.Models.Entities.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
    <a  class="btn btn-primary" asp-controller="Productos" asp-action="Create">Crear Nuevo</a>
    <a  class="btn btn-primary" asp-controller="Productos" asp-action="ControlStock">Control de Stock</a>
    <a  class="btn btn-primary" asp-controller="Productos" asp-action="Importar">Importar</a>
    <a  class="btn btn-primary" asp-controller="Productos" asp-action="Exportar">Exportar</a>
</div>
<hr />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-light">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index">Codigo</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th>
                <a asp-action="Index">Precio</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StockSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Stock</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StockSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Estado Stock</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var estado = item.Stock == 0 ? "Sin stock" :
            item.Stock <= 10 ? "Bajo" : "Normal";
            var claseFila = item.Stock == 0 ? "table-danger" :
            item.Stock <= 10 ? "table-warning" : "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td class="@claseFila">@estado</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark @nextDisabled">
    Next
</a>
