@model IEnumerable<kioscov1.Models.UserEntity.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Panel de Usuarios</h1>
<div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Create">Crear Nuevo</a>
    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="ListaRoles">Roles</a>
</div>
@* <p>
    <a asp-controller="Usuarios" asp-action="Create">Crear Usuario</a>
</p>
<p>
    <a asp-controller="Usuarios" asp-action="ListaRoles">Roles</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
